NEXT_PUBLIC_API_URL=https://pos-backend-gold.vercel.app/v1

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key
NEXT_PUBLIC_CLERK_FRONTEND_API=https://your-app.clerk.accounts.dev

NEXT_PUBLIC_CLOUD_NAME=your_cloudinary_cloud_name
NEXT_PUBLIC_CLOUD_PRESET=your_upload_preset
